@page "/pokemon/{name}"
@using PokemonApi.Dtos
@inject HttpClient httpClient
@inject NavigationManager Navigation

<h1 class="title">Detalles del Pokémon</h1>
<div class="pokemon-card">
@if (pokemon == null)
{
    <p>Cargando detalles del Pokémon...</p>
}
else
{   
        <h2>@pokemon.name</h2>
        <p><strong>ID:</strong> @pokemon.id</p>
        <p><strong>Peso:</strong> @pokemon.weight</p>
        <p><strong>Altura:</strong> @pokemon.height</p>
        <img src="@pokemon.sprites.front_default" alt="Imagen de @pokemon.name" />
}
<button @onclick="GoBack" class="button">Regresar a la lista</button>
</div>






@code {
    [Parameter]
    public string name { get; set; }
    public PokemonDto? pokemon;

    protected override async Task OnInitializedAsync()
    {
        // Llama a la API para obtener los detalles del Pokémon por ID
        pokemon = await httpClient.GetFromJsonAsync<PokemonDto>($"https://pokeapi.co/api/v2/pokemon/{name.ToLower()}");
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/pokemon");
    }
}
